.app__header {
  position: relative;
  background-image: url(./images/pattern-bg.png);
  background-size: cover;
  padding: 2rem;
  height: 300px;
}

.app__header-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.app__header-search {
  height: 55px;
  margin: 2rem 0;
  max-width: 500px;
  border-radius: 0.75rem;
  background-color: white;
}
.app__header-address {
  max-width: 500px;
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: -125px;
  height: 250px;
  background-color: white;
  border-radius: 0.75rem;
}

.app__map {
  background-color: var(--dark-gray);
  height: 500px;
}
